# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/
ENV/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Logs
# =========================
*.log

# =========================
# Python build files
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints

# =========================
# Cache
# =========================
.cache/
.pytest_cache/
.mypy_cache/